PhotoArrow photo subdir DOKUMENTACJA_FOTOGRAFICZNA
PhotoArrow photo ext *.jpg
PhotoArrow ref startLevel 7
PhotoArrow ref endLevel 47
PhotoArrow arrow level 7
PhotoArrow arrow font 1
PhotoArrow arrow color 7
PhotoArrow arrow textSize 2.0
PhotoArrow arrow style 0
PhotoArrow arrow weight 1
#PhotoArrow arrow minLength 5
PhotoArrow arrow maxLength 20