PhotoArrow photo subdir DOKUMENTACJA_FOTOGRAFICZNA
PhotoArrow photo ext *.jpg
#PhotoArrow ref userFence
#PhotoArrow ref autoFence
PhotoArrow ref startLevel 7
PhotoArrow ref endLevel 47
#PhotoArrow arrow level 7
#PhotoArrow arrow color 1
#PhotoArrow arrow font 1
#PhotoArrow arrow height 2
#PhotoArrow arrow width 2
#PhotoArrow arrow scale 100
#PhotoArrow arrow autoSize
#PhotoArrow arrow fixedSize 10
#PhotoArrow arrow minLength 1
#PhotoArrow arrow maxLength 10