PhotoArrow photo subdir DOKUMENTACJA_FOTOGRAFICZNA
PhotoArrow photo ext *.jpg
#PhotoArrow ref fence user
PhotoArrow ref fence auto
PhotoArrow ref level start 7
PhotoArrow ref level end 47
PhotoArrow arrow level 7
PhotoArrow arrow color 1
PhotoArrow arrow font 1
PhotoArrow arrow height 2
PhotoArrow arrow width 2
PhotoArrow arrow scale 100
PhotoArrow arrow size auto
#PhotoArrow arrow size fixed 10
PhotoArrow arrow size minLength 1
PhotoArrow arrow size maxLength 10